
<!DOCTYPE html>
<html>
  <head> 
  <title>Color Exploration</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head> 
  <body>
	  <main>
      <section class="color-memory intro" id="color-memory"> 
        <div class="container">
          <!-- Introduction -->
          <div class="color-memory__intro intro">
            <h2 class="color-memory__intro--heading"></h2>
            <p class="color-memory__intro--desc"></p>
            <button class="color-memory__intro--cta" role="button"></button>
          </div>
          <!-- Game: Phase 1  -->
          <div class="color-memory__phase1 phase1">
            <p class="color-memory__phase1--instructions"></p>
            <div class="inner-container">
              <button class="color-memory__phase1--easy" role="button"></button>
              <button class="color-memory__phase1--normal" role="button"></button>
              <button class="color-memory__phase1--hard" role="button"></button>
            </div>
          </div>
          <!-- Game: Phase 2 -->
          <div class="color-memory__phase2 phase2">
            <p class="color-memory__phase2--instructions"></p>
            <span class="color-memory__phase2--swatch"></span>
            <div class="color-memory__phase2--countdown">
              <span class="progress"></span>
            </div>
          </div>
          <!-- Game: Phase 3 -->
          <div class="color-memory__phase3 phase3">
            <p class="color-memory__phase3--instructions"></p>
            <form class="color-memory-choices">
              <div class="color-memory__phase3--choices"></div>
            </form>
          </div>
          <!-- Results -->
          <div class="color-memory__results results">
            <p class="color-memory__results--condition"></p>
            <button class="color-memory__results--cta" role="button">Try Again</button>
          </div>
        </div>
      </section>


    </main>
  </body> 
</html>
